name: CI-CD
on:
  push:
    branches: ["main"]
    paths-ignore: 
      - k8s/*
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código fonte
        uses: actions/checkout@v4.1.7

      - name: Login no Docker Hub
        uses: docker/login-action@v3.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construção da imgem Docker e envio para o Docker Hub
        uses: docker/build-push-action@v6.2.0
        with:
          context: ./src
          push: true
          file: ./src/Review-Filmes.Web/Dockerfile
          tags: | 
            fabricioveronez/review-filmes:v${{ github.run_number }}
            fabricioveronez/review-filmes:latest
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    
    steps:
    - name: Obtendo o código
      uses: actions/checkout@v3
    - name: GitOps - Patch and push
      run: |
        git config --global user.name "Fabricio Veronez"
        git config --global user.email "fabricioveronez@gmail.com"
        sed -i 's/image: fabricioveronez\/review-filmes:v[0-9]\{1,3\}/image: fabricioveronez\/review-filmes:v${{github.run_number}}/' ./k8s/deployment.yaml
        git add ./k8s
        git commit -m "Alteração para a imagem fabricioveronez/review-filmes:v${{ github.run_number }}"
        git push origin